* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.container {
  width: 400px;
  margin: auto;
  border: 2px solid rgba(128, 128, 128, 0.562);
  border-radius: 5px;
  margin-top: 2rem;
  background-color: rgba(137, 43, 226, 0);
}
.row {
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
.btn {
  margin: 1rem;
  background-color: brown;
  color: white;
  padding: 0.8rem;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  transition: all 0.1s;
  font-weight: bold;
}
.add {
  width: 120px;
  margin: 0;
  margin-top: 1rem;
}
.btn:active {
  transform: scale(95%);
}
input{
    padding: 1rem ;
    border-radius: 5px;
    border: none;
    background-color: rgba(212, 208, 208, 0.397);
}